.container{
    max-width: 420px;
    margin: 60px auto 100px;
    padding: 0 24px;
    @media (min-width: 1200px) {
        padding: 0;
        margin-top: 80px;
    }
}
.btn_margin{
    margin-top: 32px;
}