<main class="container-full">
  {{> Nav title='Settings'}}
  <div class="container">
    {{#> Form title="Create new password"}}
        {{> Input label="Old password" type="password" name="oldPassword" placeholder="Enter your old password"}}
        {{> Input label="New password" type="password" name="newPassword" placeholder="Enter your password"}}
        {{> Input label="Confirm password" type="password" name="newPassword" placeholder="Enter your password"}}
        <div class="btn_margin">
            {{> Button value="Save changes" type="primary" page="chats"}}
        </div>
    {{/Form}}
  </div>
</main>
