.input-message__wrap{
    display: flex;
    gap: 12px;
    padding: 0 16px;
    margin-top: -36px;

    button{
        width: 118px;
    }

    @media(width >= 768px) {
        padding: 0 0 0 20px;
    }
}

.dialog{
    .aside{
        display: none;

        @media(width >= 1200px) {
            display: block;
        }
    }
}
