<div class='chats'>
  {{#each users}}
    {{{Chat
      active=active
      avatar=avatar
      name=name
      message=message
      time=time
      count=count
      toDialog=toDialog
    }}}
  {{/each}}
</div>