<main class='container-full chats-wrap'>
  <aside class='aside'>
    {{{AsideHeader toLink=toSettings}}}
    {{{Chats}}}
  </aside>
  <div class='main'>
    <div class='chat-empty'>
      Select a chat to start messaging
    </div>
  </div>
</main>