<div class='input'>
  <label class='input__container'>
    <div class='input__label'>{{label}}</div>
    {{{Input
      classes='input__element'
      type=type
      name=name
      placeholder=placeholder
      onBlur=onBlur
      error=error
      value=value
      ref='input'
    }}}
    {{{ErrorLine error=error ref='errorLine'}}}
  </label>
</div>