<header class='header'>
    <div class="arrow-left" page="chats">
        <img src="./arrow-left.svg" alt="chats">
    </div>
    <div class='user-name'>
        {{> Title title="Chats" img="./user-img.png" alt="avatar"}}
    </div>
   {{> ChatOptions}}
</header>
