<header class='header'>
  <div class='arrow-left' page='chats'>
    {{{Link img='./arrow-left.svg' alt='chats' toLink=toLink}}}

  </div>
  <div class='user-name'>
    {{{Title title='Chats' img='./user-img.png' alt='avatar'}}}
  </div>
  {{{ChatOptions}}}
</header>