<div class='container-full chats-wrap'>
  <aside class='aside'>
    {{> AsideHeader}}
    <div class="chats">
      {{#each (users)}}
        {{> Chat}}
      {{/each}}
    </div>
  </aside>
  <div class='main'>
   <div class="chat-empty">
    Select a chat to start messaging
   </div>
  </div>
</div>
