<div class='input-message'>

  <label class='input-message__file'>
    <img src='./clip.svg' alt='add files' />
    <input type='file' name='' id='' />
  </label>
  {{{InputField
    label=''
    type='text'
    name='message'
    placeholder='Your message...'
    classes='input-message__input'
    blur='none'
    validate=validate
    ref='message'
  }}}

</div>