<div class='input-message'>

  <label class='input-message__file'>
    <img src='./clip.svg' alt='add files' />
    <input type='file' name='' id='' />
  </label>
  <input type='text' name='message' placeholder='Your message...' class='input-message__input' />
</div>