<div class='dots'>
  <label for='dots'>
    <img src='./dots.svg' alt='' />
  </label>
  <input type='checkbox' name='' id='dots' class='dots__input' />
  <div class='chat-options'>
    <div class='chat-option'>
      <img src='./add.svg' alt='' />
      Добавить пользователя
    </div>
    <div class='chat-option'>
      <img src='./remove.svg' alt='' />
      Добавить пользователя
    </div>
    <div class='chat-option'>
      <img src='./remove.svg' alt='' />
      Удалить чат
    </div>
  </div>
</div>