/* @import '/src/components/button/button.css';
@import '/src/components/cat-card/cat-card.css';
@import '/src/components/form-auth/form-auth.css';
@import '/src/components/input/input.css';
@import '/src/components/list-cats/list-cat.css';
@import '/src/pages/login/login.css'; */

:root {
    --main-color: #3369f3;
    --second-color: #e4edfd;
    --error-color: #ff2f2f;
    --text-color: #1e1e1e;
    --text-secondary-color: #999;
  }