.nav{
    height: 77px;
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    border-bottom: 1px solid var(--header-stroke);

    @media(width >= 768px) {
        height: 92px;
        padding: 0 20px;
    }
}

.nav-left{
    display: flex;
    gap: 20px;
    align-items: center;

    img{
        cursor: pointer;
    }
}
